@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Fleur+De+Leah&display=swap');

.font-pers-secc{
  font-family: 'Fleur De Leah', cursive;
  font-size: 55px;
  text-shadow: rgb(71, 70, 70) 0.05em 0.03em 0.2em;
}

.font-pers-ac{
  font-family: 'Bellota', cursive;
  font-size: 18px;
}
