<div id="seccion-acerca-de" class="wrapper cf">

  <!--INICIO MITAD FIJA-->

  <div class="contenido-fijo ccf1">

    <!--boton editar -->

    <div class="centrado">
      <div id="boton" class="boton-agregar">
        <button
          type="button"
          class="btn btn-default boton-agregar"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-toggle="modal"
          data-bs-target="#editPersonaResumenModal"
          title="Actualizar Resumen"
          (click)="onOpenModal('edit', personaResumen)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </button>
      </div>

      <!--titulo de seccion-->

      <div class="titulo-seccion">
        <h3>About me</h3>
      </div>
    </div>

    <!--FIN MITAD FIJA-->

  </div>

  <!-- Modal Edit Persona -->

  <div
    class="modal fade"
    id="editPersonaResumenModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="updatePersonaResumenModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-css" style="background-color: darksalmon">
        <div class="modal-header">
          <h5 class="modal-title" id="updatePersonaResumenModalLabel">
            Actualizar Resumen
          </h5>
          <button
            type="button"
            class="btn-close green"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea
                type="text"
                class="form-control"
                id="descripcion"
                name="descripcion"
                ngModel="{{ editPersonaResumen?.descripcion }}"
                required
                placeholder="Descripción"
              ></textarea>
            </div>
            <input
              type="hidden"
              ngModel="{{ editPersonaResumen?.id }}"
              name="id"
              class="form-control"
              id="id"
              placeholder=""
            />
            <div class="modal-footer mt-3">
              <button
                type="reset"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>

              <button
                (click)="onUpdatePersonaResumen(editForm.value)"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- fin Modal Edit -->

  <!--INICIO MITAD SCROLL-->

  <div class="contenido-movil ccm1">

    <div class="card-ind">

      <p>{{ personaResumen.descripcion }}</p>

    </div>

  </div>

  

</div>
