<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
  <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <a href="#seccion-about-me" class="menu-item green" title="About me"> <i class="fa fa-user" aria-hidden="true"></i> </a>
  <a href="#seccion-education" class="menu-item red" title="Education"> <i class="fa fa-graduation-cap" aria-hidden="true"></i> </a>
  <a href="#seccion-experience" class="menu-item purple" title="Experience"> <i class="fa fa-industry" aria-hidden="true"></i> </a>
  <a href="#seccion-hard-skills" class="menu-item orange" title="Hard Skills"> <i class="fa fa-cogs" aria-hidden="true"></i> </a>
  <a href="#seccion-soft-skills" class="menu-item blue" title="Soft Skills"> <i class="fa fa-people-line" aria-hidden="true"></i> </a>
  <a href="#seccion-projects" class="menu-item lightblue" title="Projects"> <i class="fa fa-trophy" aria-hidden="true"></i> </a>
</nav>
