<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
  <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <a href="#sect1" class="menu-item blue"> <i class="fa fa-home" aria-hidden="true"></i> </a>
  <a href="#seccion-acerca-de" class="menu-item green"> <i class="fa fa-user" aria-hidden="true"></i> </a>
  <a href="#seccion-educacion" class="menu-item red"> <i class="fa fa-graduation-cap" aria-hidden="true"></i> </a>
  <a href="#seccion-experiencia" class="menu-item purple"> <i class="fa fa-industry" aria-hidden="true"></i> </a>
  <a href="#seccion-aptitudes" class="menu-item orange"> <i class="fa fa-cogs" aria-hidden="true"></i> </a>
  <a href="#seccion-logros" class="menu-item lightblue"> <i class="fa fa-trophy" aria-hidden="true"></i> </a>
</nav>
