@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

.font-pers-in {
  font-family: "Reem Kufi", sans-serif;
}

p {
  color: rgb(184, 27, 27);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.1em;
  font-weight: bold;
}

@keyframes login-dog-head-nod {
  0% {
    transform: rotate(21deg);
  }
  16% {
    transform: rotate(24deg);
  }
  50% {
    transform: rotate(11deg);
  }
  84% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(21deg);
  }
}

@keyframes login-dog-tail-wag {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(13deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

#login-dog-head {
  transform-origin: 182px 162px;
  animation: login-dog-head-nod 6s ease-in-out infinite;
}

#login-dog-tail {
  transform-origin: 192.8px 196.5px;
  animation: login-dog-tail-wag 0.5s ease-in-out infinite;
}

@keyframes login-cloud-left-float {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes login-cloud-right-float {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}

#login-cloud-right {
  animation: login-cloud-right-float 10s ease-in-out infinite;
}

#login-cloud-left {
  animation: login-cloud-left-float 10s ease-in-out infinite;
}

@keyframes login-flowers-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#login-flower-left {
  transform-origin: 106px 199px;
  animation: login-flowers-rotate 10s ease-in-out infinite;
}

#login-flower-middle {
  transform-origin: 220px 199px;
  animation: login-flowers-rotate 8s ease-in-out infinite;
}

#login-flower-right {
  transform-origin: 351px 199px;
  animation: login-flowers-rotate 6s ease-in-out infinite;
}

@keyframes login-grass-move {
  0% {
    transform: skewX(-5deg);
  }
  50% {
    transform: skewX(5deg);
  }
  100% {
    transform: skewX(-5deg);
  }
}

#login-grass .st0 {
  transform-origin: 0px 199px;
  animation: login-grass-move 10s ease-in-out infinite;
}

#login-grass .st1 {
  transform-origin: 0px 199px;
  animation: login-grass-move 7s ease-in-out infinite;
}

#login-grass .st2 {
  transform-origin: 0px 199px;
  animation: login-grass-move 5s ease-in-out infinite;
}

@keyframes login-tree-move {
  0% {
    transform: skewX(0.5deg);
  }
  50% {
    transform: skewX(-0.5deg);
  }
  100% {
    transform: skewX(0.5deg);
  }
}

#login-tree-left {
  transform-origin: 0px 199px;
  animation: login-tree-move 7s ease-in-out infinite;
}

#login-tree-right {
  transform-origin: 0px 199px;
  animation: login-tree-move 5s ease-in-out infinite;
}

// Colors
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: "Asap", sans-serif;

body {
  background-color: $redFire;
  font-family: $fontAsap;
}

.login {
  overflow: hidden;
  background-color: white;
  opacity: 85%;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 17%;
  left: 36%;
  width: 400px;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }

  &::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba($blueQueen, 0.15);
  }

  &::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba($greenSeaweed, 0.2);
  }

  > input {
    font-family: $fontAsap;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }

  > button {
    font-family: $fontAsap;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: $redFire;

    &:hover {
      background-color: darken($redFire, 5%);
    }
  }
}

a {
  text-decoration: none;
  color: rgba(white, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  svg {
    height: 570px;
  }
  .login {
    padding: 40px 30px 30px 30px;
    top: 20%;
    left: 20%;
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  svg {
    height: 500px;
  }
  p {
    font-size: 0.9em;
  }
  .login {
    padding: 40px 30px 30px 30px;
    top: 27%;
    left: 10%;
    width: 400px;
  }
}
