<div class="wrapper cf">

  <div class="contenido-fijo ccf4">
    <h3>Proyectos</h3>
  </div>

  <div class="contenido-movil ccm4">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
      quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vero, maxime nulla dolore iure voluptatem itaque.
      Nisi commodi ut consectetur beatae mollitia. Ab, maxime quisquam ipsa, quibusdam itaque et eius.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta fuga
      voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente accusamus
      cumque! Ipsam, illo!</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
      quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vero, maxime nulla dolore iure voluptatem itaque.
      Nisi commodi ut consectetur beatae mollitia. Ab, maxime quisquam ipsa, quibusdam itaque et eius.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, molestiae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus suscipit blanditiis delectus quos, soluta fuga
      voluptatem, facere inventore neque voluptate quaerat unde laboriosam molestiae repellat, sapiente accusamus
      cumque! Ipsam, illo!</p>
  </div>

</div>
